
//global vai
$primary-color: #000000;
$secondary-color: #faf;

@import url("https://use.typekit.net/twz3utw.css");

body {
    font-family: neue-haas-grotesk-text, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

.container {
    max-width: 776px;
}

.single-drone-card {
    max-width: 440px;
    border-bottom: 1px solid #dddddd;
    border-radius: 3px;
    margin: auto;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper {
    display: flex;
    justify-content: space-between;
}

.middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.lower {
    display: flex;
    justify-content: space-between;
}

.inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.lower .inner .label {
    font-size: 0.6em;
    color: #acacac;
    margin-right: 4px;
}

.phonenumber {
    color:#666666;
}

time {
    font-size: 1.1em;
}

h6 {
    font-size: .7em;
    color: #acacac;
    margin: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

